body {
    font-family: sans-serif;
    background-color: lightgrey;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.yellow{
	border-top: 5px double #F5A623;
	width: 250px;
	 border-bottom: none;
  border-right: none;
}
.articles1{
    
    font-family: sans-serif;
}
.container {
    
    font-family: sans-serif;
    background: url('bg.jpg') no-repeat center center fixed;
    height: 600px;
}
h3{
		text-align: center;
		font-size: 28px;
		font-weight: normal;
		margin-top: 100px;
	}
.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.log {
    margin-left: 70%;
}
.commenter {
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
