body {
    font-family: sans-serif;
    margin:0;
    padding:0;
    
}
#articles{
    font-family: 'Ravi Prakash', cursive;
}

.center {
    text-align: center;
    border-radius:30%;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    border-radius:100%;
}
.red{
	border-top: 5px double Red;
	width: 250px;
	 border-bottom: none;
  border-right: none;
}
.articles1{
    
    font-family: sans-serif;
    text-align: center;
    
    height:300px;
    text-decoration: none;
}
.container {
    
    font-family: sans-serif;
    background: url('bg2-min.jpg') no-repeat center center fixed;
     background-size:cover;
    height: 600px;
}
h5{
		text-align: center;
		font-size: 40px;
		font-weight: normal;
		
	}
.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.log {
    margin-left: 70%;
}
.commenter {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    text-align: center;
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
li {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
   text-align:center;
 
}
.nav-link {
  color:white;
  text-decoration: none;

}
.nav-link2 {
  color:blue;
  text-decoration: none;

}
.commentsec
{
    text-align:center;
}
.nav-link1
{
     color: white;
  text-decoration: none;
}

h4{
    text-align:center;
}
.cont{
    font-style:oblique;
    color:Orange;
}

.abut{
    display: inline-block;
  font-size: 18px;
  width: 100px;
  color:black ;
  font-weight: bold;
  margin-top: 30px;
   padding-top: 8px;
  padding-bottom: 8px;
   text-align:center;
  margin-left: 30px;
}

.about-me{
    max-width: 600px;
  margin: 40px auto;
}

.contact-me {
  height: 350px;
  background-color: #202020;
  padding-top: 30px;
}
.contact-headline {
  color: white;
}
.contact-info {
  color: white;
  font-size: 13px;
  text-align:center;
   margin-top: 30px;
}
.contact-link {
  color: white;
   font-weight: bold;
  font-size: 13px;
  
}

.titl{
    font-size:40px;
    color:blue;
}