body {
    font-family: sans-serif;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.yellow{
	border-top: 5px double #F5A623;
	width: 250px;
	 border-bottom: none;
  border-right: none;
}
.articles1{
    
    font-family: sans-serif;
    text-align: center;
    
    height:300px;
    text-decoration: none;
}
.container {
    
    font-family: sans-serif;
    background: url('bg2.jpg') no-repeat center center fixed;
    height: 600px;
}
h5{
		text-align: center;
		font-size: 40px;
		font-weight: normal;
		
	}
.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.log {
    margin-left: 70%;
}
.commenter {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    text-align: center;
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
li {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
   text-align:center;
 
}
.nav-link {
  color:blue;
  text-decoration: none;

}
.commentsec
{
    text-align:center;
}